<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text">Carousel App</p>
    </div>
    <ul class="nav navbar-nav">
      <li>{{link-to 'home' 'home'}}</li>      
      <li>{{link-to 'view carousel' 'carousel-module'}}</li>
      <li>{{link-to 'about' 'about'}}</li>
    </ul>
  </div>
 </nav>
<div class="container">
  {{yield}}
</div> 